@model MNF4.ViewModels.EmailViewModel

@{
    ViewBag.Title = "Thank You";
}

<h1>Thanks For Your Question</h1>

    <h5 class="center">Thank you for your question.&nbsp; We will look this over and  respond to you as 
        soon as we are able.
    </h5>

    @if (!String.IsNullOrEmpty(Model.returnUrl))
    {
        <h5><a href=@Model.returnUrl>Return</a></h5>     // Hokey - but works for now
    }
    else
    {
        <h5>@Html.ActionLink("Home","Index","Home")</h5>
    }

