@{
    ViewBag.Title = "Thanks";
}

    <h1>Thank You</h1>
    <p class="center">Thank you for contacting us.&nbsp; Your request has been submitted and we will respond to it as 
        soon as we are able.</p>
    <p />
