@{
    ViewBag.Title = "Thank You";
}

<h1>Thanks For Your Question</h1>

    <h5 class="center">Thank you for your question.&nbsp; We will look this over and  respond to you as 
        soon as we are able.
    </h5>
