@{
    ViewBag.Title = "Transform Your Health";
}
<h1>
    Transform Your Health Through Nutrition</h1>
<div>
    <p>
        Welcome, listeners of the Telesummit <strong>"Mr. Wrong to Mr. Right: Super Successful 
        Strategies to Dating with Confidence after Divorce."</strong>
    </p>
    <p>
        Thank you for listening to my session <strong>"Gain Energy & Vitality by Re-calibrating 
        Your Nutrition."</strong>
    </p>

    <div class="clear">
        @Html.Partial("_OptInPartial")
    </div>
@*    <p>
        You are now eligible to download my ebook <a href="/Content/Documents/Transform Your Health Through Nutrition.pdf"
            target="_blank">"Transform Your Health Through Nutrition" </a>FREE!!</p>
    <p>
*@        You will also receive a complimentary subscription to my monthly enewsletter. &nbsp;My
        newsletter provides information on nutrition, fitness, recipes, and events. &nbsp;View
        the latest issue <a href="http://eepurl.com/uZoJ5" target="_blank">Happy Heart Health
            Month!</a> here.
    </p>
</div>
