@{
    ViewBag.Title = "Free PCOS Webinar Opt In";
}

<a id="RSVP"></a>
<h1>How To Overcome PCOS in 5 Steps</h1>

<h2 class="center">
    Presented by Christine Marquette<br />
    @*Tuesday, August 23rd at 12:30 p.m. Eastern Time / 11:30 a.m. Central Time*@
    Sorry, there is no webinar scheduled at this time. <br />Register below to receive our newsletter and we'll let you know when
    the next webinar is scheduled
</h2>

<div id="webinar">
    <p>
        This is a <em>FREE</em> webinar!&nbsp; To participate in this webinar, enter your name and email address below to register.
    </p>
    @Html.Partial("_WebinarOptInPartial")

    <p>
        As you may already know, at least one out of ten women suffer from polycystic ovarian syndrome (PCOS).&nbsp; PCOS is 
        the most common cause of menstrual irregularities in women, and is the leading cause of infertility.  
    </p>
    <p>It is considered to be a multifactoral metabolic, endocrine, and reproductive disorder.</p>
    <p>Here are the most common signs and symptoms:</p>
    <ul>
        <li>Irregular or completely absent menstrual cycles</li>
        <li>Acne</li>
        <li>Obesity</li>
        <li>Hirsutism (which is abnormal hair growth on the face, back, chest, etc.)</li>
        <li>Skin tags</li>
        <li>Loss of scalp hair</li>
        <li>Sleep apnea</li>
        <li>Depression</li>
        <li>Development of cardiovascular disease, including:
            <ul>
                <li>Hypertension</li>
                <li>Hyperlipidemia</li>
                <li>Hypertriglyceridemia</li>
                <li>Low HDL (which is an abbreviation for High Density Lipoprotien, which is known as the good cholesterol)</li>
                <li>Coagulapathy</li>
            </ul>
        </li>
        <li>Abnormal carbohydrate metabolism, which includes:
            <ul>
                <li>insulin resistance</li>
                <li>impaired fasting glucose</li>
                <li>type 2 diabetes</li>
            </ul>
        </li>
    </ul>
    <p>
        Sounds scary!&nbsp; But, PCOS is a highly manageable condition, if you know what to do!
    </p>
    <p>
        <a href="#RSVP">Scroll up</a> to <em>register for this free webinar</em>!
    </p>

    <ul>
        <li>Are you unsure exactly what PCOS is?&nbsp; Have you read conflicting information on the internet?</li>
        <li>Have you heard that if you have PCOS, you have to avoid all carbohydrates?</li>
        <li>Wondering about supplements?</li>
    </ul>

    <p>Join this informative 1-hour webinar to get answers to these questions and more! </p>
    <br />
    <p>ABOUT THE PRESENTER:</p>
    <i>
        Christine Marquette is a registered and licensed dietitian (RD, LD) and certified Health Fitness Specialist through 
        the American College of Sports Medicine working in private practice at Marquette Nutrition & Fitness, LLC.  With 
        over 40 hours of continuing education specifically related to the management of Polycystic Ovarian Syndrome (PCOS), 
        she has been focusing on teaching women with PCOS how to overcome this condition through the use of individualized 
        nutrition and fitness programs.  What sets Christine apart from other dietitians/nutritionists and fitness professionals 
        is her personal connection to PCOS, her listening skills, and her ability to translate research into do-able action 
        steps that her clients can start on immediately.
    </i>
    <ul id="specifics">
        <li>Date:&nbsp; None scheduled at this time</li>
        <li>Time:&nbsp; n/a</li>
        <li>Place:&nbsp; At your computer</li>
        <li>Cost:&nbsp; Complimentary!</li>
    </ul>  
    <p>
        Can’t attend this date and time but still interested? &nbsp; 
        <a href="#RSVP">Enter your name and email above</a> to be notified of future webinars.
    </p>
</div>
