@model MNF4.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Webinar - PCOS5StepFormula";
}
<h2 id="attn" class="center">Attention women struggling with polycystic ovarian syndrome:</h2>
<h1>The 5 Step Formula for Overcoming PCOS</h1>
<div id="webinar">
    <h3 class="dkPurple">The 5 Step Formula for Overcoming PCOS will teach you:</h3>
    <ul>
        <li>Exactly how PCOS is diagnosed and how it is different from other similar conditions
            so that you can feel confident that you are <strong>getting the right treatment</strong>
            and not wasting time! </li>
        <li>What health care providers you should have on your team to <strong>help you prevent
            complications</strong> and reach your goals in the safest, quickest way and what
            questions to ask your healthcare team so that you know you are getting the best
            care possible. </li>
        <li>How foods affect your hormones so that you know <strong>what</strong> to eat and
            <strong>when</strong> to eat to help you lose weight and feel great. </li>
        <li>How to know which supplements may improve your symptoms and how to prevent serious
            side effects from interactions between foods or supplements and medications potentially
            used to treat PCOS. </li>
        <li>How <strong>exercise</strong> affects your body and the best types to do to keep
            your whole body healthy. </li>
        <li><strong><u>BONUS:</u></strong>&nbsp;What to do to once you reach your goals!
        </li>
    </ul>
    <p class="testimonial">
        “Just want to let you know that your PCOS webinar was great. I listened to the recorded
        version last night, took tons of notes and plan to listen again. Thank you for sharing
        your info.” – Christine C. Williams, RD; Potomac MD
    </p>

    <h4 class="center">How <b>“The 5 Step Formula for Overcoming PCOS”</b> works:</h4>
    <div id="components">
        <p>When you register for the program, you will receive the following:</p>
        
        <h4>Component 1:</h4>
        <b>6 Modules of Online Training</b><br />
        (1 Hour Each Week for 6 Weeks -- begins the week of August 1, 2011):
        <ul>
            <li>Module 1:&nbsp; What is PCOS and how can I defeat it?</li>
            <li>Module 2:&nbsp; Nutrition 101:&nbsp; Carb Counting and Label Reading</li>
            <li>Module 3:&nbsp; Nutrition 201:&nbsp; Heart Healthy Eating and Menu Planning</li>
            <li>Module 4:&nbsp; Supplements:&nbsp; Do I Need them?</li>
            <li>Module 5:&nbsp; Exercise:&nbsp; What’s best for me?</li>
            <li>Module 6:&nbsp; Living My Best Life:&nbsp; How to prevent complications</li>
        </ul>
        <b>Value $1899</b>
        <h4>Component 2:</h4>
        <b>Lifetime Access to <i>All</i> Updates</b>
        <ul>
            <li>The entire course is updated once per year.</li>
            <li>You receive downloadable Digital Recordings of every module and every update.</li>
        </ul>
        <b>Value $1899</b>
        <h4>Component 3:</h4>
        <b>3 Months of Nutrition & Fitness TeleCoaching</b>
        <ul>
            <li>Client-only Q&A calls: 4 per month x 3 months!</li>
            <li>On these calls (up to 12 of them) the creator of the modules – Christine Marquette
                -- will personally help you stay on track of your eating and exercise plan.
            </li>
        </ul>
        <b>Value $2597</b>
        <p>
            <b><em>Total Value (when purchased separately): $6,395</em></b></p>
        <h3>
            BONUSES</h3>
        <p>
            <b>Bonus #1:&nbsp; How to Read Food Labels Guide.</b>&nbsp; This information sheet
            explains what different statements mean on the food label, general guidelines for
            choosing healthy foods, and what to avoid.<br />
            <b>Bonus #2:&nbsp; Food Lists.</b>&nbsp; These lists tell you how much carbohydrate,
            protein, fat, and calories are in specific portion sizes of various foods.
        </p>
        <a id="paymentlink"></a>

        <div id="paymentbox">
            <p id="earlybird">
                Regular Price: $1,994<br />
                For A Limited Time Get Your Early Bird Discount!
            </p>
            <p class="packagediscount">
                Package Discount (purchased together): only $997<br />
                (that's 50% OFF!)
            </p>
            <p class="couponcode">
                If you have a coupon code get an additional 30% off the single pay option:
            </p>
            <div class="paymentoptions">
                @using (Html.BeginForm("PCOS5StepFormula", "Webinars"))
                {
                    @*<input type="submit" name="Command" value="$699 (after coupon)" />*@
                    <p>
                        @Html.ActionLink("Send us an email", "Question", "Email") to ask about purchasing 
                        "The 5 Step Formula for Overcoming PCOS".
                    </p>
                    
                }
            </div>
        </div>
    </div>

    <p class="testimonial">
        “I listened to your webinar yesterday - great information.” – Pat Hunter, MA, RD,
        LDN; Westford, MA</p>
    <ul id="programsteps">
        <li>When you register for the program, you will receive an email from Marquette Nutrition
            & Fitness, LLC via mail@marquettenutrition.com containing your bonuses within 1
            business day. </li>
        <li>Each Monday morning you will receive an email from mail@marquettenutrition.com with
            the phone number and code to call in for the live training that will be happening
            each Wednesday evening from 6 p.m. to 7 p.m. central time.&nbsp; You will also receive
            a reminder email the day of the call.&nbsp; Each module of "The 5 Step Formula for
            Overcoming PCOS" will be presented live once per week (there are actually 6 modules
            – 6 weeks total). </li>
        <li>Then each Friday you will receive the downloadable version of the that week’s slide
            show and audio that make up the module via email. You can watch each module and
            implement it at your convenience.&nbsp;  There's no expiration date on the download.
           &nbsp; You have lifetime access. </li>
        <li>Besides the modules, the email you will receive from Marquette Nutrition & Fitness
            each Monday morning will also give you access to the phone number and code to call
            in for the live client-only Q&A sessions that happen every Tuesday (4 times per
            month), starting the week after the live module 1 class.&nbsp; You can attend as
            many of these calls as you need to get any support to implement The 5 Step Formula
            for Overcoming PCOS.&nbsp; You receive access to these for 3 full months! </li>
    </ul>
    <p>
        <strong>There is ZERO risk to try out the program!</strong>
    </p>
    <p>
        Give yourself the opportunity to experience why so many people rave about Christine
        Marquette’s programs.&nbsp; If after the second class you are not satisfied, just
        contact Christine and your money will be refunded.&nbsp; And you will still be able
        to keep the bonuses.
    </p>
    <p>
        If you have any other issues or questions about registering for the program, please
        @Html.ActionLink("click here", "Question", "Email") to send a private message to me.
    </p>
    <p>
        Registration for this program closes on Friday, September 2nd, 2011.&nbsp; Coupon
        codes will expire Friday August 26th, 2011.</p>
    <p class="center">
        <a href="#paymentlink">Scroll back up and select one of the zero-risk payment options.</a></p>
    <p>
        Try it!&nbsp; You have nothing to lose and a whole new level of health to gain.</p>
    <div id="aboutChristine">
        <p>
            <b>About Christine</b></p>
        <p>
            Christine has a Bachelor of Science degree in Nutrition, and is a registered and
            licensed dietitian.&nbsp;  She has been working in the field of nutrition for about
            10 years.
        </p>
        <p>
            She is also certified through the American College of Sports Medicine as a Health
            Fitness Specialist, and is a USA Fit Certified Running Coach.&nbsp; In addition,
            she has over 40 hours of specialized training in the management of PCOS.
        </p>
    </div>
</div>
