@{
    ViewBag.Title = "Thanks";
}

<h2>Thank You!</h2>

<h3>Thank you for registering. We have received your information and you will be receiving an email with instructions in the next few days.</h3>
<h3>Please add mail@marquettenutrition.com to your safe senders list so you won't miss it.</h3>

@Html.ActionLink("Return to Webinar information page", "Index");
