@{
    ViewBag.Title = "Resources";
    ViewBag.Description = @"Christine Marquette is a registered dietitian working in Austin, Texas.
    On this page you'll find links to fitness, vegetarian, diet, and nutrition resources Christine uses in her practice.";
}

<div data-role="content" data-theme="f">
<h1>Helpful Links</h1>( Links will open in a new window )
    <table>
        <tr>
            <td>
                <div class="leftcolumn Resources">
                    <div class="ResourceGroup">
                        <img class="ResourceIcon" src="/Content/Images/flag1.jpg" alt="TXFlag" title="TXFlag" /> 
                        <h4 class="ResourceHeading">Texas Specific Food Resources</h4>
                        <p>
                            <a href="http://www.gotexan.org/gt/jumppage/0,1486,1670_0_0_0,00.html" target="_blank">Texas Department of Agriculture - Go Texan Program</a>
                        </p>
                        <p>
                            <a href="http://www.picktexas.com/product/produce_avail_main.htm" target="_blank">Texas Department of Agriculture's Product Availability Guide</a>
                        </p>
                        <p>
                            <a href="http://www.sustainablefoodcenter.org/" target="_blank">Sustainable Food Center- Austin Texas</a>
                        </p>
                        <p>
                            <a href="http://www.austinfarmersmarket.org/" target="_blank">Austin Farmer's Market</a>
                        </p>
                    </div>
                    
                    <div class="ResourceGroup">
                        <img class="ResourceIcon" src="/Content/Images/farmer.png" alt="Farmer" title="Farmer" height="65" width="65" />
                        <h4 class="ResourceHeading">Finding a Farmer’s Market Around the Country</h4>
                        <p>
                            <a href="http://www.localharvest.org/ " target="_blank">LocalHarvest.org</a>
                        </p>
                    </div>
                    
                    <div class="ResourceGroup">
                        <img class="ResourceIcon" src="/Content/Images/pills.jpg" alt="Pills" title="Pills" height="65" width="65" />
                        <h4 class="ResourceHeading">Nutrient Specific Resources</h4>
                        <p>
                            <a href="http://www.omega-research.com/" target="_blank">Omega-Research.com</a>
                        </p>
                        <p>
                            <a href="http://www.vitamindcouncil.org/ " target="_blank">Vitamin D Council</a>
                        </p>
                    </div>
                    
                    <div class="ResourceGroup">
                        <img class="ResourceIcon" src="/Content/Images/chemist.png" alt="Chemist" title="Chemist" height="90px" width="50" />
                        <h4 class="ResourceHeading">Information on Herbs, Supplements, Complementary & Alternative Medicine</h4>
                        <p>
                            <a href="http://nccam.nih.gov/ " target="_blank">National Center for Complementary and Alternative Medicine [NCCAM]</a>
                        </p>
                        <p>
                            <a href="http://abc.herbalgram.org/site/PageServer?pagename=Herbal_Library" target="_blank">American Botanical Council</a>
                        </p>
                        <p>
                            <a href="http://ods.od.nih.gov/index.aspx " target="_blank">Office of Dietary Supplements</a>
                        </p>
                    </div>
                    
                    <div class="ResourceGroup">
                        <img class="ResourceIcon" src="/Content/Images/pcosribbon.jpg" alt="PCOS" title="PCOS" height="65" width="50" />
                        <h4 class="ResourceHeading">PCOS Resources</h4>
                        <p>
                            <a href="http://www.incyst.com/" target="_blank">inCYST on the Best! - A blog about polycystic ovary syndrome</a>
                        </p>
                        <p>
                            <a href="http://www.pcosupport.org/" target="_blank">Polycystic Ovarian Syndrome Association, Inc.</a>
                        </p>
                        <p>
                            <a href="http://www.obgyn.net/" target="_blank">OBGYN Women's Health</a>
                        </p>
                        <p>
                            <a href="http://www.soulcysters.com/" target="_blank">SoulCysters.com: Polycystic Ovarian Syndrome (PCOS) Treatment & Resources</a>
                        </p>
                        <p>
                            <a href="http://www.projectpcos.org/ " target="_blank">Project PCOS - Awareness, Information, Support</a>
                        </p>
                        <p>
                            <a href="http://www.aace.com/" target="_blank">AACE - American Association of Clinical Endocrinologists</a>
                        </p>
                        <p>
                            <a href="http://www.acog.org/ " target="_blank">American Congress of Obstetricians and Gynecologists</a>
                        </p>
                    </div>
                    
                    <div class="ResourceGroup">
                        <img class="ResourceIcon" src="/Content/Images/vegIcon.jpg" alt="Vegetarian" title="Vegetarian" height="65" width="65" />
                        <h4 class="ResourceHeading">Vegetarian Resources</h4>
                        <p>
                            <a href="http://www.vrg.org/ " target="_blank">The Vegetarian Resource Group</a>
                        </p>
                        <p>
                            <a href="http://www.vegfamily.com/" target="_blank">VegFamily magazine</a>
                        </p>
                        <p>
                            <a href="http://www.westbrae.com/ " target="_blank">Westbrae Natural</a>
                        </p>
                        <p>
                            <a href="http://www.brendanbrazier.com/" target="_blank">Brendan Brazier - Vegan Triathlete</a>
                        </p>
                    </div>
                </div>
                <div class="rightcolumn Resources">
                    
                    <div class="ResourceGroup">
                        <img class="ResourceIcon" src="/Content/Images/gluten-free.jpg" alt="Gluten Free" title="Gluten Free" height="65" width="65" />
                        <h4 class="ResourceHeading">Celiac and Food Allergy Resources</h4>
                        <p>
                            <a href="http://www.celiac.com/" target="_blank">Celiac.com - Celiac Disease &amp; Gluten-free Diet Information</a>
                        </p>
                        <p>
                            <a href="http://www.celiac.org/" target="_blank">Celiac Disease Foundation</a>
                        </p>
                        <p>
                            <a href="http://americanceliac.org/" target="_blank">American Celiac Disease Alliance</a>
                        </p>
                        <p>
                            <a href="http://www.alamoceliac.org/" target="_blank">Alamo Celiac - Gluten Intolerance Group</a>
                        </p>
                        <p>
                            <a href="http://www.foodallergy.org/" target="_blank">FAAN - Food Allergy and Anaphylaxis Network</a>
                        </p>
                    </div>
                    
                    <div class="ResourceGroup">
                        <img class="ResourceIcon" src="/Content/Images/alertfoodallergies.jpg" alt="Food Allergies" title="Food Allergies" height="65" width="65" /> 
                        <h4 class="ResourceHeading">Allergy Friendly Product Resources<br />(gluten free, soy free, dairy free, yeast free, etc.)</h4>
                        <p>
                            <a href="http://consumer.kinnikinnick.com/index.cfm/fuseaction/consumer.home.html"
                               target="_blank">Kinnikinnick Foods Inc. ®</a><br />
                        </p>
                        <p>
                            <a href="http://www.hain-celestial.com/gluten-free/index.php" target="_blank">Hain Celestial
                                Group</a><br />
                        </p>
                        <p>
                            <a href="http://www.bobsredmill.com/ " target="_blank">Bob&#039;s Red Mill</a>
                        </p>
                        <p>
                            <a href="http://www.arrowheadmills.com/" target="_blank">Arrowhead Mills</a>
                        </p>
                        <p>
                            <a href="http://www.barbarasbakery.com" target="_blank">Barbara's Bakery</a>
                        </p>
                        <p>
                            <a href="http://www.usmillsllc.com/" target="_blank">U.S. Mills</a>
                        </p>
                        <p>
                            <a href="http://www.ener-g.com/" target="_blank">Ener-G Foods</a>
                        </p>
                        <p>
                            <a href="http://www.enjoylifefoods.com/index.php" target="_blank">Enjoy Life foods</a>
                        </p>
                        <p>
                            <a href="http://www.frenchmeadow.com/" target="_blank">French Meadow Bakery</a>
                        </p>
                        <p>
                            <a href="http://www.glutenfreecreations.com/index.php?page=10" target="_blank">Gluten-Free Creations Bakery</a>
                        </p>
                        <p>
                            <a href="http://www.pamelasproducts.com/" target="_blank">Pamela's Products</a>
                        </p>
                        <p>
                            <a href="http://www.patsypie.com/" target="_blank">PatsyPie&reg;</a>
                        </p>
                        <p>
                            <a href="http://www.thinkproducts.com/index.php" target="_blank">Think Products</a>
                        </p>
                        <p>
                            <a href="http://www.bluediamond.com/" target="_blank">Blue Diamond Growers</a>
                        </p>
                        <p>
                            <a href="http://www.edenfoods.com/" target="_blank">Eden Foods</a>
                        </p>
                        <p>
                            <a href="http://www.lundberg.com/" target="_blank">Lundberg Family Farms</a>
                        </p>
                        <p>
                            <a href="http://www.riceworkssnacks.com/new_index_USA.html" target="_blank">riceworks - Gourmet Brown Rice Crisps</a>
                        </p>
                        <p>
                            <a href="http://www.glutenfreekneads.com/?page_id=15" target="_blank">Gluten Free Kneads</a>
                        </p>
                        <p>
                            <a href="http://www.quinoa.com/" target="_blank">Northern Quinoa Corporation</a>
                        </p>
                        <p>
                            <a href="http://www.nuworldamaranth.com/ " target="_blank">Nu-World Amaranth</a>
                        </p>
                        <p>
                            <a href="http://www.tastethedream.com/" target="_blank">Dream Brand Non-Dairy Beverages and Frozen Desserts</a>
                        </p>
                        <p>
                            <a href="http://www.godairyfree.org/ " target="_blank">Go Dairy Free</a>
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
