@model MNF4.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Class - PCOS5StepFormula";
}
<h2 id="attn" class="center">Attention women struggling with polycystic ovarian syndrome:</h2>
<h1>The 5 Step Formula for Overcoming PCOS</h1>

<div id="class">
    <p>Hi there,</p>
    <p>
        Are you tired and frustrated with not being able to lose weight?&nbsp; Do you feel like no matter what 
        you do, you are not making any progress improving your symptoms?&nbsp; I understand; I have worked with 
        MANY women who went through the same thing.  
    </p>
    <p>If you’re like many of the women I work with, you:</p>

    <ul>
        <li>Wonder WHY this is happening to you</li>
        <li>Feel like you cannot truly enjoy eating without feeling guilty or deprived</li>
        <li>Fear that you may not be able to have children</li>
        <li>Feel overwhelmed by all the possible “risk” factors</li>
        <li>Want to feel healthy, but don’t know how</li>
    </ul>

    <p>
        I can personally relate to some of these things because when I was a teenager, my doctor’s solution to my irregular 
        cycles and acne was to simply put me on birth control pills.
    </p>
    <p>
        I didn’t find out about PCOS until I started working in health care almost ten years ago as a registered and licensed 
        dietitian.&nbsp; I started having clients who were having symptoms that I remembered going through.&nbsp; I realized 
        then that I needed to learn as much as I could about the condition so that I could help not only my clients, but myself 
        as well. 
    </p>

    <p>
        I've completed well over 40 hours of continuing education through two different PCOS experts, and I continue to study 
        the condition to this day.  I am happy to say that I have been able to keep virtually all of my lab values and weight 
        within normal limits and feel as healthy as ever.  What’s just as great is the number of women I have worked with who 
        have also been able to turn their lives around and experience relief from many of their symptoms.
    </p>
    <p>
        Sadly, there are still not many nutritionists who have expertise in PCOS.&nbsp; That’s why I created <i>The 5 Step 
        Formula for Overcoming PCOS</i>.&nbsp; My program will teach you:
    </p>

    <ul>
        <li>Exactly how PCOS is diagnosed and how it is different from other similar conditions
            so that you can feel confident that you are <strong>getting the right treatment</strong>
            and not wasting time! </li>
        <li>How foods affect your hormones so that you know <strong>what</strong> to eat and
            <strong>when</strong> to eat to help you lose weight and feel great. </li>
        <li>What health care providers you should have on your team to <strong>help you prevent
            complications</strong> and reach your goals in the safest, quickest way and what
            questions to ask your healthcare team so that you know you are getting the best
            care possible. </li>
        <li>What questions to ask your healthcare team so that you know you are getting the best care possible</li>
        <li>How <strong>exercise</strong> affects your body and the best types to do to keep
            your whole body healthy. </li>
        <li>How to know which supplements may improve your symptoms</li>
        <li>How to prevent serious side effects from interactions between foods or supplements and medications potentially
            used to treat PCOS.</li>
        <li>What to do to once you reach your goals!</li>
    </ul>

    <p>
        One of the best things about my program is that you can learn at your own pace, while having the support of other women 
        who are going through the same things.&nbsp; You will have the opportunity to ask questions every week in our group 
        coaching calls, as well as make connections with other participants.
    </p>

    <p class="testimonial">
        “Just want to let you know that your PCOS webinar was great. I listened to the recorded
        version last night, took tons of notes and plan to listen again. Thank you for sharing
        your info.” – Christine C. Williams, RD; Potomac MD
    </p>

    <p>Not taking action now could cost you <strong>thousands and thousands of dollars</strong> due to needing:</p>
    <ul>
        <li>More doctors’ appointments</li>
        <li>More medications</li>
        <li>More time away from family or work</li>
    </ul>

    <p>
        But it can also cost you more than just time and money.&nbsp; Every day that you <strong>wait</strong> to learn how 
        to overcome your PCOS you <strong>increase</strong> your risk of:
    </p>
    <ul>
        <li><strong>Developing Heart Disease</strong></li>
        <li>Developing Diabetes</li>
        <li><strong>Not being able to have children</strong></li>
    </ul>

    <p>
        It is possible to prevent or significantly lower the risk of these 3 things from happening, as well as increase your 
        quality of life.&nbsp; You just need to learn what to do.
    </p>

    <h4 class="center">How <b>“The 5 Step Formula for Overcoming PCOS”</b> works:</h4>
    <div id="components">
        <p>When you register for the program, you will receive the following:</p>
        
        <h4>Component 1:</h4>
        <b>5 Modules of Live Training</b><br />
        (1 Hour each Week  on Wednesdays at 6:30 PM for 6 Weeks -- begins January 25, 2012):
        <ul>
            <li>Module 1:&nbsp; What is PCOS and how can I defeat it?</li>
            <li>Module 2:&nbsp; Nutrition 101:&nbsp; Carb Counting and Label Reading</li>
            <li>Module 3:&nbsp; Nutrition 201:&nbsp; Heart Healthy Eating and Menu Planning</li>
            <li>Module 4:&nbsp; Supplements:&nbsp; Do I Need them?</li>
            <li>Module 5:&nbsp; Living My Best Life:&nbsp; What exercise is best for me?&nbsp; How do I prevent complications</li>
        </ul>
        <b>Value $2099</b>
        <h4>Component 2:</h4>
        <b>Access to Recordings of the Class</b>
        <ul>
            <li>You receive downloadable Digital Recordings of every module.</li>
        </ul>
        <b>Value $2099</b>
        <h4>Component 3:</h4>
        <b>3 Months of Nutrition & Fitness TeleCoaching</b>
        <ul>
            <li>Client-only Q&A calls: 4 per month x 3 months!</li>
            <li>
                On these calls (up to 12 of them) I will personally help you stay on track of your eating and 
                exercise plan.
            </li>
        </ul>
        <b>Value $2597</b>
        <p>
            <b><em>Total Value (when purchased separately): $6,795</em></b></p>
        <h3>BONUSES</h3>
        <p>
            <b>Bonus #1:&nbsp; How to Read Food Labels Guide.</b>&nbsp; This information sheet
            explains what different statements mean on the food label, general guidelines for
            choosing healthy foods, and what to avoid.<br />
            <b>Bonus #2:&nbsp; Food Lists.</b>&nbsp; These lists tell you how much carbohydrate,
            protein, fat, and calories are in specific portion sizes of various foods.
        </p>
        <a id="paymentlink"></a>

        <div id="paymentbox">
        @using (Html.BeginForm("PCOS5StepFormula", "Classes"))
        {
            <p id="regprice">Regular Price: $1,999</p>
            <p id="earlybird">
                For A Limited Time Get Your Early Bird Discount!
            </p>
            <p class="packagediscount">
                Package Discount - purchased together: only $999<br />
                (that's 50% OFF!)
            </p>
            <div class = "paymentoptions">
                <p class="couponcode">
                    If you have a coupon code get an additional 30% off the single pay option. <br />
                    (Price will be adjusted to $699 at checkout)
                </p>
                <input type="submit" name="Command" value="$999 (before coupon)" />
            </div>
            <div class = "paymentplan">
                <p>
                    Or if you prefer the convenience of spreading your payments out over the course of the class,
                    you may choose our "5 Payment Option".&nbsp; The first payment is required prior to the class. &nbsp; 
                    The remaining payments will be scheduled at the first class.&nbsp; Total amount of payments = $1250<br/>
                    (A savings of almost $750 off the regular price!)
                </p>
                <input class="center" type="submit" name="Command" value="$250 (first payment)" id="5Pay" />
            </div>
        }
        </div>
    </div>

    <p class="testimonial">
        “I listened to your webinar yesterday - great information.” – Pat Hunter, MA, RD, LDN; Westford, MA</p>
    <ul id="programsteps">
        <li>When you register for the program, you will receive an email from Marquette Nutrition
            & Fitness, LLC via mail@marquettenutrition.com containing your bonuses within 2
            business days. </li>
        <li>Each Monday morning you will receive an email remionder from mail@marquettenutrition.com. 
           &nbsp; You will also receive a reminder email the day of the class.&nbsp; Each module of <i>"The 5 
            Step Formula for Overcoming PCOS"</i> will be presented live once per week (there are actually 
            5 modules – 5 weeks total). </li>
        <li>Then each Friday you will receive the downloadable version of the that week’s class handouts and
            and audio that make up the module via email. You can watch each module and
            implement it at <strong>your convenience.</strong>&nbsp;  There's no expiration date on 
            the download.&nbsp; You have lifetime access. </li>
        <li>Besides the modules, the email you will receive from mail@marquettenutrition.com
            each Monday morning will also give you access to the phone number and code to call
            in for the <strong>live, client-only Q&A sessions</strong> that happen every Tuesday (4 times per
            month), starting the week after the live module 1 class.&nbsp; You can attend as
            many of these calls as you need to get any support to implement <i>"The 5 Step Formula
            for Overcoming PCOS"</i>.&nbsp; You receive access to these for 3 full months! </li>
    </ul>

    <p>
        <i>“But what if I don’t have time have time for this right now?”</i>  All of the modules will be recorded, so 
        you will be able to access them at your own pace.
    </p>
    <p>
        <i>“What if I can’t afford it?”</i>  Think of what you are spending on your daily cup of coffee or diet soda; 
        just one $3.50 drink 5 days per week costs you $910 per year, which is more than my program if you take 
        advantage of the coupon combined with the early bird discount.
    </p>
    <p>
        Isn’t your health worth more than a cup of coffee?  And remember, you pay for this program one time, and then 
        you have <strong>LIFETIME</strong> access to all the modules.  There is no other program on PCOS that you can attend at 
        this time that will offer you that.
    </p>

    <p><i>“What if this program doesn’t work for me?”</i></p>

    <p>
        <strong>There is ZERO risk to try out the program!</strong>
    </p>
    <p>
        Give yourself the opportunity to experience why so many people rave about Christine
        Marquette’s programs.&nbsp; If after the second class you are not satisfied, just
        contact Christine and your money will be refunded.&nbsp; And you will still be able
        to keep the bonuses.
    </p>
    <p>
        If you have any other issues or questions about registering for the program, please
        @Html.ActionLink("click here", "Question", "Email") to send a private message to me.
    </p>
    <p>
        Registration for this program closes on Friday, January 20th , 2012.&nbsp; Coupon
        codes will expire Friday December 16th, 2011.
    </p>
    <p class="center">
        <a href="#paymentlink">Scroll back up and select one of the zero-risk payment options.</a></p>
    <p>
        Try it!&nbsp; You have nothing to lose and a whole new level of health to gain.</p>


    <div id="aboutChristine">
        <p>
            <b>About Christine</b></p>
        <p>
            Christine has a Bachelor of Science degree in Nutrition, and is a registered and
            licensed dietitian.&nbsp;  She has been working in the field of nutrition for about
            10 years.
        </p>
        <p>
            She is also certified through the American College of Sports Medicine as a Health
            Fitness Specialist, and is a USA Fit Certified Running Coach.&nbsp; In addition,
            she has over 40 hours of specialized training in the management of PCOS.
        </p>
    </div>


</div>

