@{
    ViewBag.Title = "Add Ons";
    ViewBag.Description = @"The Mediator Release Test (MRT) or Gene SNP DNA analysis products are available 
for existing clients of Marquette Nutrition & Fitness.";
}

<h1>Add Ons</h1>
<div data-role="content">
    <h3>Mediator Release Test (MRT)</h3>

    <div>
        <p>
            The Mediator Release Test (MRT) is a patented blood test developed by Dr. Mark Pasula
            of Oxford BioMedical (formerly Signet Diagnostic, Inc.).&nbsp; It has been able
            to identify the causes of both food and chemical sensitivities and is currently
            the most accurate test available on the market.
        </p>
        <p>
            The strengths of the MRT are that it is very accurate, has excellent reliability,
            measures the outcomes of all non-IgE mediated hypersensitivity reactions, is an
            indirect method of measuring mediator release (therefore is not limited to specific
            cells), can test both food and chemical reactions, is patented, and quantifies the
            level of reaction (which allows an individualized diet plan to be developed).
        </p>
        <p>
            MRT tests 123 different foods and 27 different chemicals.&nbsp; Results are classified
            into 3 categories: green (least reactive), yellow (moderately reactive), and red
            (reactive).&nbsp; Based on these results, a 6-phased diet called the "Lifestyle
            Eating and Performance" (LEAP) ImmunoCalm diet is implemented.
        </p>
        <p>
            In order to get tested, you must purchase your kit from Marquette Nutrition & Fitness,
            LLC, take it to a lab (e.g. CPL), have your blood drawn and FedExed overnight to
            Oxford Biotech Medical.&nbsp; You can expect to receive your results within one
            week.
        </p>
        <p>You must be an existing client to purchase a MRT kit.</p>

    </div>


    <h3>Gene SNP</h3>

    <div>
        <p>
            Gene SNP is one of the most comprehensive home genetic test kits for nutritional
            health available.&nbsp; Not only do you find out what type of exercise is best for
            your body (e.g. endurance or strength training) for weight management, but you also
            find out nutritional information in regards to heart health, bone health, insulin
            resistance, detoxification, inflammation, and alcohol metabolism.
        </p>
        <p>
            Even though our DNA does not change, what foods we eat, what types of exercise we
            do, and what type of environmental toxins we are exposed to affect how our genes
            perform.&nbsp; If we know exactly what nutrients and what types of exercise are
            best for OUR body type, we can keep our weight normal AND stay healthy!
        </p>
        <p>
            The procedure for getting tested is quite simple.&nbsp; The test kit comes with
            two long swabs that you rub against the inside of your cheeks.&nbsp; You then let
            them air dry for about 15 minutes.&nbsp; Next, you place the dry swabs into the
            provided mailer and drop in the regular mail.&nbsp; You then fill out an online
            lifestyle questionnaire which will be taken into account when your test results
            are being analyzed and your action plan developed.&nbsp; Why?&nbsp; Remember that
            your lifestyle (your environment) impacts which genes are turned on and off, so
            that will have an effect on your action plan.&nbsp; Within 4-6 weeks you will get
            your results back and can begin your journey!
        </p>
        <p>You must be an existing client to purchase a Gene SNP kit.</p>
    </div>

    <div>
        <p>@Html.ActionLink("Contact us today", "Create", "Contact") if you are interested in either of these offerings.</p>
    </div>
</div>