
@{
    ViewBag.Title = "Follow Up Consultations";
    ViewBag.Description = @"For past clients, whether is has only been a week, a month, or even a year, the 
individual follow up consultation is here for you, when you need it";
}

<h1>Follow Up Consultations</h1>

<div data-role="content">
    <div>
        <p>
            Worked with us in the past and need a refresher?&nbsp; Have you recently completed
            one of our existing one-on-one programs, but are not sure you need monthly support?
        </p>
        <p>
            Whether is has only been a week, a month, or even a year, the individual follow
            up consultation is here for you, when you need it.
        </p>
        <p>Choose from our 30, 40, or 60 minute options.</p>
        <p>@Html.ActionLink("Contact us today", "Create", "Contact") to set up your follow up consultation.</p>
    </div>
</div>



