@{
    ViewBag.Title = "Seminars";
    ViewBag.Description = @"Christine conducts many Seminars and Speaking Engagements for companies, organizations, 
and training groups.  Browse our topics below and Contact Us when ready.";
}

<h1>Seminars and Speaking Engagements</h1>

<div data-role="content">
    <h3>Companies and Associations</h3>

    <p>Studies show that employees who are fit and healthy are happier and more productive.</p>
    <p>
        Is your company or organization looking for a dynamic speaker who can address health
        issues?&nbsp; Do you have employees or group members who are interested in learning
        practical nutrition and fitness tips that they can start applying today?&nbsp; Christine
        is a nutrition and fitness professional who has years of experience presenting to
        a variety of organizations on these issues.</p>
    <p>
        Do you have health professionals who need to earn CEUs on various nutrition topics?&nbsp;
        Christine has presented on topics such as celiac, food sensitivities, and vegetarian
        nutrition.</p>
    <h3>Lunch & Learns, Workshops, Seminars, and Webinars</h3>
    <p>Speaking engagements are tailored to meet your needs and can range from 30 minutes to full day workshops.</p>
    <p>@Html.ActionLink("Contact us", "Create", "Contact") now to schedule.</p>

    <p><strong>Popular Seminar and Workshop Topics Include:</strong></p>
    <ul>
        <li>Celiac:&nbsp; How to Implement a Gluten Free Diet</li>
        <li>General Health & Sustainability:&nbsp; Eat Healthy & Save the Planet!</li>
        <li>Vegetarian Nutrition:&nbsp; Fueled by Plants!  How to implement a plant-based diet</li>
        <li>Heart Health:&nbsp; Is Your Diet a Recipe for Disease?</li>
        <li>Blood sugar control:&nbsp; Eat Your Heart Out - The Impact Nutrition & Activity have on Diabetes & Heart Health</li>
        <li>Holiday Eating:&nbsp; Holiday Eating Survival Tips</li>
        <li>Nutrition & Fitness for Travelers:&nbsp; How to stay healthy while traveling</li>
        <li>Food Sensitivities:&nbsp; Is Your Food Making You Sick?</li>
    </ul>

    <h3>Training Groups</h3>
    <p>
        Is your running, cycling, or triathlon training club looking for someone to speak
        on sports nutrition and hydration?&nbsp; An avid endurance athlete currently coaching
        marathon runners, Christine speaks from experience when presenting to other endurance
        athletes.
    </p>
    <p>@Html.ActionLink("Contact us", "Create", "Contact") now to schedule.</p>

    <p><strong>Popular Seminar Topics Include:</strong></p>
    <ul>
        <li>Foundation Nutrition:&nbsp; What to eat during the week</li>
        <li>Pre-race Nutrition:&nbsp; Should I carbo load?</li>
        <li>Competition Nutrition:&nbsp; What do I eat during races?</li>
        <li>Hydration:&nbsp; How much do I need to drink?</li>
        <li>Electrolytes:&nbsp; How do I avoid cramping?</li>
        <li>Supplements:&nbsp; Do I need supplements?</li>
        <li>Gluten-Free:&nbsp; Sports Nutrition Tips for Gluten-Sensitive Individuals</li>
    </ul>
</div>
