@{
    ViewBag.Title = "Supplements";
    ViewBag.Description = @"We have recently started working with a pharmaceutical grade supplement line 
nutraMetrix™ Advanced Nutraceuticals, which helps people overcome the challenges of inadequate nutrition.";
}
 
<h1>Nutritional Supplements</h1>

<p>
    Feeling tired and run down?&nbsp; Want to look and feel better, but feel like you don't have the time to eat right and 
    exercise?&nbsp; You’re not alone.&nbsp; Many people deal with these same issues every day due to high stress jobs, poor 
    nutrition, lack of sleep and lack of exercise.  
</p>

<p>
    Some research shows that dietary supplements can help.
</p>

<p>
    We have recently started working with a pharmaceutical grade supplement line, nutraMetrix™ Advanced Nutraceuticals, which 
    helps people overcome the challenges of inadequate nutrition through a complete line of nutritional supplements and product 
    systems that offer just the right solutions to your individual health and well-being needs.
</p>

<p>
    Feel like you already eat right and exercise?&nbsp; That's great!&nbsp; But we all go through times when maybe we pushed 
    it a little too hard at the gym or on the trail.&nbsp; That is when you want to make sure and take in more nutrients that 
    will help you recover!  
</p>

<div>
    <div id="nutraClick">
        <a id="NutrametrixLink" href="http://www.nutrametrix.com/marquettenutrition" target="_blank">
            Click here to learn more
        </a> and purchase products.
    </div>
</div>
<div style="clear:both;" />
