@{
    ViewBag.Title = "Source Deleted";
}

<h1>@ViewData["Deleted"] Deleted</h1>

<div>
    <p>Source @ViewData["Deleted"] has been successfully deleted.</p>
    <p>@Html.ActionLink("Back to List", "List")
</p>
</div>

