@{
    ViewBag.Title = "Closed";
}

<h1>Marquette Nutrition & Fitness Has Closed Our Doors</h1>

<div itemscope="itemscope" data-role="content">
    <div data-role="content" data-theme="f">

        <div align="center">
            <img class="closed" src="~/Content/Images/Closed.jpg" alt="Marquette Nutrition & Fitnessed is Closed" />

            <p id="closedText">
                After more than 5 years of helping our clients find the tools they need to meet or exceed their personal
            nutrition and fitness goals, I have made the difficult decision to close our doors. &nbsp;I have truly enjoyed
            working with each of you and hope you continue your healthy journey using the tools that we have discussed 
            during our appointments.
            </p>
            <p>
                Best wishes to you all,<br/>
                Christine Marquette
            </p>
        </div>
    </div>
</div>
