@{
    ViewBag.Title = "About Christine";
    ViewBag.Description = @"In addition to being a dietitian, Christine is a certified Health Fitness Specialist, 
                            endurance athlete, marathon runner, triathlete and vegetarian.";
}

<div itemscope="itemscope" itemtype="http://schema.org/Person">
    <h1><span itemprop="name">Christine Marquette RD, LD, CLT</span><br />
    <span itemprop="affiliation">ACSM Certified Health Fitness Specialist</span></h1>
    <meta itemprop="affiliation" content="American Dietetic Association - member" />
    <meta itemprop="affiliation" content="Texas Dietetic Association - member" />
    
    <div id="chrisimagediv">
        <img id="chrisimage" alt="Christine Marquette, RD, LD" title="Christine Marquette, RD, LD" 
             src="/Content/Images/ChristineMarquetteHS.gif" itemprop="image"/>
    </div>
    <div id="chrisbiodiv">
        <h3>Credentials &amp; Bio:</h3>
        <p itemprop="description" >
            Christine E. Marquette has a Bachelor of Science Degree in Dietetics with a major in Nutrition from 
            the University of Texas.&nbsp; She is licensed by the State of Texas (LD) and is also a registered 
            dietitian (RD - national certification) through the Commission on Dietetic Registration.&nbsp; 
            Christine is also a certified Health Fitness Specialist (HFS) through the 
            <a href="http://www.acsm.org/AM/Template.cfm?Section=About_ACSM" target="_blank" >American College of 
                Sports Medicine (ACSM)</a>.&nbsp; In addition, she has an advanced certification in Food Sensitivities 
            as a Certified <a href="http://www.nowleap.com/" target="_blank">LEAP</a> Therapist (CLT), has over 
            40 hours of additional training in the management of Polycystic Ovarian Syndrome, and has 
            been trained in using <a href="http://www.totallycoached.com/" target="_blank">intrinsic coaching® </a>
            methodology.
        </p>
        <p>
            Christine is an avid runner, having completed over 6 marathons and dozens of 5Ks, 10Ks,
            half marathons, and other distance races; and has been an assistant coach with Austin
            Fit marathon training program for over three years.&nbsp; She is also a sprint distance triathlete.
        </p>
        <p>
            Her first few years working as a “new dietitian,” Christine consulted in nursing
            homes and assisted living facilities, as well as provided medical nutrition therapy
            for a variety of conditions to low income patients in an outpatient clinic setting.&nbsp; 
            Christine also spent a few years working at the Capital Area Food Bank, where she
            developed and helped launch their nutrition education program.&nbsp; Christine has since
            spent the majority of her career in nutrition providing medical nutrition therapy
            to clients one on one and in group classes for both the City of Austin’s community
            health care centers and the Austin Regional Clinic.
        </p>
    </div>    
    <div class="clear" itemscope="itemscope" itemprop="memberOf">
        <p>Here are a few organizations Christine is currently involved in:</p>
        <ul>
            <li itemtype="http://schema.org/Organization" itemprop="memberOf">American Dietetic Association - member</li>
            <li itemtype="http://schema.org/Organization" itemprop="memberOf">
                Vegetarian Nutrition Dietetic Practice Group of the American Dietetic Association - Book reviewer and member 
                of the editorial staff for the Vegetarian Nutrition Update (publication of this group )
            </li>
            <li itemtype="http://schema.org/Organization" itemprop="memberOf">Texas Dietetic Association - member</li>
            <li itemtype="http://schema.org/Organization" itemprop="memberOf">School Health Advisory Committee - member of the nutrition sub-committee</li>
            <li itemtype="http://schema.org/Organization" itemprop="memberOf">American College of Sports Medicine - member</li>
            <li itemtype="http://schema.org/Organization" itemprop="memberOf">USAFit, Austin Chapter - Assistant coach</li>
            <li itemtype="http://schema.org/Organization" itemprop="memberOf">Organic Athlete - member</li>
            <li itemtype="http://schema.org/Organization" itemprop="memberOf">Austin Runner's Club - member and sponsor</li>
            <li itemtype="http://schema.org/Organization" itemprop="memberOf">Austin Independent Business Alliance - member</li>
            <li itemtype="http://schema.org/Organization" itemprop="memberOf">My Fit List - member</li>
        </ul>
        <p>
            Currently practicing in South Austin, Christine can be reached via our @Html.ActionLink("Contact page", "Create", "Contact").
        </p>
    </div>
</div>

<div class="center">
    <h4>Add Marquette Nutrition and Fitness to your phone</h4>
    <img id="QRContact" alt="Scan here with your Smartphone" src="/Content/Images/QRChrisContactMd.png" />
    <p class="center"> Scan here with your smart phone to easily access our contact info.</p>
</div>
