@{
    ViewBag.Title = "FAQ";
    ViewBag.Description = @"Here find answers to a number of frequently asked questions (FAQ) about Marquette Nutrition 
    and Fitness and our various service offerings.";
}

<h1>Frequently Asked Questions</h1>

<table id="faqTable">
    <tr>
        <td>
            <div class="leftcolumn">
                <p class="faqsummaryq"><a href="#hours">When are you open?</a></p>
                <p class="faqsummaryq"><a href="#insurance">Do you accept insurance?</a></p>
                <p class="faqsummaryq"><a href="#charge">What do you charge?</a></p>
                <p class="faqsummaryq"><a href="#payplans">Do you offer payment plans?</a></p>
                <p class="faqsummaryq"><a href="#discounts">Do you offer discounts?</a></p>
                <p class="faqsummaryq"><a href="#children">Do you work with children?</a></p>
                <p class="faqsummaryq"><a href="#families">Do you work with families?</a></p>
                <p class="faqsummaryq"><a href="#fitassess">What kind of fitness assessments do you offer?</a></p>
                <p class="faqsummaryq"><a href="#fitcounsel">What kind of fitness counseling do you offer?</a></p>
                <p class="faqsummaryq"><a href="#seminars">What kind of seminars do you offer?</a></p>
                <p class="faqsummaryq"><a href="#metabolic">Do you check metabolic rate?</a></p>
                <p class="faqsummaryq"><a href="#bodyfat">How do you measure body fat?</a></p>
                <p class="faqsummaryq"><a href="#meals">Do you provide food/meals to your clients?</a></p>
                <p class="faqsummaryq"><a href="#mealplans">Do you offer meal plans?</a></p>
                <p class="faqsummaryq"><a href="#intrinsic">What is “Intrinsic Coaching®”?</a></p>
                <p class="faqsummaryq"><a href="#mrtdef">What is MRT?</a></p>
                <p class="faqsummaryq"><a href="#mrtwho">Who needs MRT?</a></p>
                <p class="faqsummaryq"><a href="#leapdef">What is LEAP?</a></p>
                <p class="faqsummaryq"><a href="#optin">What will you use my email address for?</a></p>
            </div>
            <div class="rightcolumn">
                <img id="faqImage" alt="Yogurt Granola" src="/Content/Images/YogurtGranola.JPG" title="Yogurt Granola" />
            </div>
        </td>
    </tr>
</table>
<div class = "topic">    
    <h4 id="hours">When are you open?</h4>
    <p>
        We are open Monday through Saturday, by appointment only.&nbsp; We often have “off-site”
        speaking engagements, training sessions, or volunteer activities, therefore we are
        not always “in” the office and therefore do not take walk-in clients.&nbsp; Typical appointment
        times are between 8 a.m. and 6 p.m.</p>
    <h4 id="insurance">Do you accept insurance?</h4>
    <p>
        At the present time, no, we do not accept insurance for nutrition or fitness appointments.
        However, for people who are getting the mediator release test (MRT), an outside
        lab (Signet Diagnostic) does the testing, so as a courtesy to our clients we will
        verify insurance coverage of MRT.</p>
    <h4 id="charge">What do you charge?</h4>
    <p>
        This depends on the client and what type of appointment they are seeking.&nbsp; Most clients
        (weight loss, sports nutrition, celiac, etc.) will need multiple appointments, therefore
        after the initial appointment, we will decide what is most cost effective (purchasing
        a package of 3 or 5, which includes the initial appointment.&nbsp; Clients who have food 
        sensitivities and plan to use MRT will pay for the MRT in addition to purchasing a package 
        of appointments for the individualized LEAP ImmunoCalm Dietary Management Program.</p>
    <h4 id="payplans">Do you offer payment plans?</h4>
    <p>
        No.&nbsp; Payment in full is expected at the time of service.&nbsp; For people who are unable
        to purchase packages, they may pay for their appointments one at a time.
    </p>
    <h4 id="discounts">Do you offer discounts?</h4>
    <p>
        Yes.&nbsp; We are proud sponsors of Austin Fit and Tri Zones Training and offer their members a
        15% discount on initial appointments and 10% discount on packages.&nbsp; We also offer
        this same discount to members of Southwest Hills Community Church and employees
        of non-profit organizations such as the Capital Area Food Bank.
    </p>
    <h4 id="children">Do you work with children?</h4>
    <p>
        The majority of our clients are adults, however we will work with children on a
        case-by-case basis.&nbsp; We do not work with children younger than 8 years of age.
    </p>
    <h4 id="families">Do you work with families?</h4>
    <p>
        Yes, we work with families.&nbsp; The charge for this depends on the size of the family.
        “Packages” can often be used to cover the costs of family appointments.
    </p>
    <h4 id="fitassess">What kind of fitness assessments do you offer?</h4>
    <p>
        This is an area that will be expanded in the future.&nbsp; Right now, we offer measurement
        of weight, percentage body fat, and provide instruction for determining resting
        heart rate and sub maximal heart rate.
    </p>
    <h4 id="fitcounsel">What kind of fitness counseling do you offer?</h4>
    <p>
        This is another are that will be expanded in the future.&nbsp; Right now, we utilize resting
        heart rate and sub maximal heart rate data to work with endurance athletes to develop
        a training schedule.&nbsp; We also suggest various strength-training workouts.&nbsp; For clients
        who are “beginners” and will not necessarily be running/cycling/swimming long distances,
        we offer instruction on other types of exercise such as low impact cardiovascular
        activities and core strength training.&nbsp; Most clients do workouts on their own time,
        off site and bring “data” from their workouts (e.g. heart rates, time, distance,
        etc.) to follow up appointments for evaluation.
    </p>
    <h4 id="seminars">What kind of seminars do you offer?</h4>
    <p>
        We give seminars on general nutrition and wellness (e.g. how to eat healthy, how
        to survive holiday eating, etc.), as well as on our specialty areas (celiac, polycystic
        ovary syndrome, vegetarian eating, and sports nutrition).&nbsp; The length of time varies
        depending on the need of the organization requesting the seminar.
    </p>
    <h4 id="metabolic">Do you check metabolic rate?</h4>
    <p>
        No, at the present time we do not measure metabolic rate.&nbsp; This is something that
        we are looking into offering in the future.
    </p>
    <h4 id="bodyfat">How do you measure body fat?</h4>
    <p>
        Through both the use of bioelectrical impedance via a scale and skin calipers.
    </p>
    <h4 id="meals">Do you provide food/meals to your clients?</h4>
    <p>
        For newly diagnosed celiac clients, we offer a “starter kit” that includes gluten
        free items such as rice, rice cakes, chips, cookies, baking mixes, crackers, and
        sports bars.&nbsp; We do not provide food or meals to our other clients.
    </p>
    <h4 id="mealplans">Do you offer meal plans?</h4>
    <p>
        Yes, we can offer personalized example meal plans for our clients.
    </p>
    <h4 id="intrinsic">What is “Intrinsic Coaching®”?</h4>
    <p>
        Intrinsic Coaching® is a methodology that increases a person’s capacity to think
        better about choices and achieve better results, more quickly.&nbsp; Intrinsic coaching
        can be used to serve individuals and groups in a variety of areas: health care facilities,
        corporations, universities, etc.&nbsp; Here is some additional information on 
        <a href="http://www.totallycoached.com/" target="_blank">Intrinsic Coaching®</a>.
    </p>
    <h4 id="mrtdef">What is MRT?</h4>
    <p>
        MRT stands for “mediator release test.” It is actually 150 separate tests using
        a blood sample and “challenging” that blood sample with 123 different types of foods
        and 27 different chemicals.&nbsp; Two different pathways in the immune system are involved
        in food sensitivities: type 3 and type 4.&nbsp; Depending on which pathway is used, the
        immune system will release different types of “mediators” to fight what ever it
        perceives as a threat.&nbsp; MRT is an end-point test, meaning it measures the release
        of mediators such as cytokines, histamine, prostaglandins, etc. at the end of the
        reaction (so it does not care which pathway is used, it just measures the immune
        system’s reaction to a perceived threat).&nbsp; 
        <a href="http://www.nowleap.com/public_tour/ibs/pop_ups/5/MRT-animation.html" target="_blank">Here 
        is an animation</a> of how the MRT works.
    </p>
    <h4 id="mrtwho">Who needs MRT?</h4>
    <p>
        MRT primarily benefits people with conditions affected by food sensitivities (not
        true food allergy), such as irritable bowel syndrome, migraines, fibromyalgia, rheumatoid
        arthritis and other autoimmune conditions, eczema, psoriasis, etc.&nbsp; Many athletes
        who suffer from gastrointestinal distress during training and competition also often
        benefit from MRT, as it allows them to identify foods that are more likely to cause
        them a problem.
    </p>
    <h4 id="leapdef">What is LEAP?</h4>
    <p>
        LEAP stands for “Lifestyle, Eating, and Performance.”&nbsp; It is a 6-phased dietary management
        program that utilizes the MRT to develop an individualized eating plan.&nbsp; The first
        phase allows the person to eat only their “safest” foods (usually limited to no
        more than 25 different items), and this phase typically lasts one week to 10 days.&nbsp; 
        Some people with very severe symptoms may need up to 2 full weeks to have their
        immune system “calm down.”&nbsp; Phases 2-5 are where 1 new food is added each day, so
        the length of time will vary depending on each person.&nbsp; Phase 6 is where a 3-day
        food rotation diet is implemented, and clients begin adding foods that may not have
        been tested.&nbsp; This is usually the time that people can also start “testing” the moderately
        reactive foods to see if their immune system has sufficiently healed to where they
        can tolerate small amounts of a previously reactive food.
    </p>
    <h4 id="optin">What will you use my email address for?</h4>
    <p>
        When you enter your email address on our contact form, or to download one of our free resources, we promise to 
        only use it for the purpose for which it was intended.&nbsp; We will only use this information to communicate with you,
        or send you the information which you requested.&nbsp; We will never sell or share your information with anyone 
        outside of Marquette Nutrition and Fitness.&nbsp; <strong>Your information is safe with us</strong>.
    </p>
</div>
