@{
    ViewBag.Title = "Forms";
    ViewBag.Description = @"On this page is our Office Policy and links to our Pricacy Policy and forms you'll need 
    to complete prior to your first appointment.";
}

<div data-role="content" data-theme="f">
    <h1>Forms</h1>

    <p>
        <a href="/Content/Documents/Pre-Appointment Nutrition Info.doc" target="_blank">Pre-appointment
            Nutrition Information</a>
    </p>
    <p>
        <a href="/Content/Documents/Marquette Notice of Privacy Practices.pdf" target="_blank">Notice of
            Privacy Practices</a>
    </p>
    <p>
        <a href="/Content/Documents/PHI ROI Form.pdf" target="_blank">Release of Information</a>
    </p>
    <p>
        <a href="/Content/Documents/ContractAndOfficePolicy.pdf" target="_blank">Client Contract/Office Policy</a>
    </p>
    <h4>Office Policy</h4>
    <p>
        All fees are due at the time of service. Cash, money orders, personal checks and
        credit cards are accepted.&nbsp; 
        @*[In addition, you may pay in advance online using pay pal.]*@
        Marquette Nutrition & Fitness, LLC does not accept insurance at this time, but you
        will be provided with documentation should you decide to seek reimbursement from
        your insurance company.</p>
    <p>
        There is a required 48-hour notice for canceling or rescheduling appointments.&nbsp; If
        this notice is not received in advance, you may be charged a $45 missed appointment
        fee.&nbsp; This policy has been implemented in consideration for those clients who may
        be waiting for services.</p>
    <p>
        To ensure you get the most out of your appointment, please download and fill out the 
        <a href="/Content/Documents/Pre-Appointment Nutrition Info.doc" target="_blank">Pre-appointment Nutrition Information</a>, 
        <a href="/Content/Documents/Marquette Notice of Privacy Practices.pdf" target="_blank">Notice of Privacy Practices</a>, 
        <a href="/Content/Documents/ContractAndOfficePolicy.pdf" target="_blank">Client Contract/Office Policy</a>, and 
        <a href="/Content/Documents/PHI ROI Form.pdf" target="_blank">Release of Information</a> forms 
        and bring with you to your appointment.</p>
</div>