@{
    ViewBag.Title = "Videos";
    ViewBag.Description = @"Christine has filmed videos for Livestrong.com, e-how.com and other nutrition releated 
    web sites and conducted radio broadcasts on nutrition topics. ";
}

<h1>Media</h1>

<h3>Videos</h3>
    <p>
        Christine has filmed hundreds of nutritional and diet related videos for websites such
        as <a href="http://www.livestrong.com/search/?mode=&search=christine+marquette" target="_blank">
            LiveStrong.com</a> and <a href="http://www.ehow.com/members/ev_28e2c917-26ac-4de0-945d-383abb5ff610.html"
                target="_blank">eHow.com</a>.
    </p>

    <p>In addition you can find videos Christine has filmed 
        <a href="http://www.youtube.com/results?search_query=christine+marquette" target="_blank"> on YouTube</a>.
    </p>

    <h3 id="YouTubePromo">Coming Soon, Christine will have her own YouTube channel!</h3>
                    
    <div>
        <p>
            Fish and seafood have long been considered staples of a healthy diet. Here Christine
            talks to LiveStrong.com about how to make healthy fish food choices.
            <br /><br />
            Check back later for links to these and additional videos.</p>
    </div>
    <div class="center">
        <object type="application/x-shockwave-flash"
            data="http://cdn-i.dmdentertainment.com/DMVideoPlayer/player.swf"
            id="player" height="365" width="586">
            <param name="allowScriptAccess" value="always" />
            <param name="allowFullScreen" value="true" />
            <param name="movie" value="http://cdn-i.dmdentertainment.com/DMVideoPlayer/player.swf" />
            <param name="play" value="false"/>
            <param name="wmode" value="transparent" />
            @*<param name="flashVars" value="yume_flash_id=3855&demand_report_url=http%3A//www.livestrong.com/api/video_report&demand_postroll_link=http%3A//www.livestrong.com&demand_preroll_source=http%3A//www.livestrong.com/swf/LS_logo.swf&yume_css_url=http%3A//cdn-www.livestrong.com/css/video.css&video_title=Healthy%20Food%20Choices%20for%20Fish&demand_iconlink=http%3A//www.livestrong.com&demand_iconurl=http%3A//www.livestrong.com/images/video/favicon.jpg&demand_content_id=3855&yume_swf_url=http%3A//cdn-i.dmdentertainment.com/DMVideoPlayer/yume_player_4x3_3.swf&sitename=http%3A//www.livestrong.com&demand_icontext=LIVESTRONG.COM%20offers%20thousands%20of%20inspiring%2C%20relevant%20and%20useful%20videos%20across%20health%2C%20fitness%20and%20lifestyle%20topics.%20Check%20out%20www.livestrong.com%20for%20more%20videos%2C%20most%20shot%20in%20High-definition%21&demand_content_sourcekey=livestrong.com&yume_library_swf_url=http%3A//cdn-i.dmdentertainment.com/DMVideoPlayer/yume_ad_library.swf&v=2.0.5&demand_show_replay=false&source=http%3A//cdn-www.livestrong.com/videos/take-action/3000-4000/SC58_Healthy_Food_Choices_for_Fish.flv&demand_preroll=true&demand_page_url=http%3A//www.livestrong.com/video/3855-healthy-food-choices-fish/&height=37&yume_branding_playlist=&demand_autoplay=0&demand_postroll_source=http%3A//www.livestrong.com/swf/LS_logo.swf&skin=http%3A//cdn-i.dmdentertainment.com/DMVideoPlayer/playerskin.swf&demand_postroll=true" />*@
            <param name="flashVars" value="yume_flash_id=3855
                &demand_report_url=http%3A//www.livestrong.com/api/video_report
                &demand_postroll_link=http%3A//www.livestrong.com
                &demand_preroll_source=http%3A//www.livestrong.com/swf/LS_logo.swf
                &yume_css_url=http%3A//cdn-www.livestrong.com/css/video.css&video_title=Healthy%20Food%20Choices%20for%20Fish
                &demand_iconlink=http%3A//www.livestrong.com&demand_iconurl=http%3A//www.livestrong.com/images/video/favicon.jpg
                &demand_content_id=3855&yume_swf_url=http%3A//cdn-i.dmdentertainment.com/DMVideoPlayer/yume_player_4x3_3.swf
                &sitename=http%3A//www.livestrong.com
                &demand_icontext=LIVESTRONG.COM%20offers%20thousands%20of%20inspiring%2C%20relevant%20and%20useful%20videos%20across%20health%2C%20fitness%20and%20lifestyle%20topics.%20Check%20out%20www.livestrong.com%20for%20more%20videos%2C%20most%20shot%20in%20High-definition%21
                &demand_content_sourcekey=livestrong.com
                &yume_library_swf_url=http%3A//cdn-i.dmdentertainment.com/DMVideoPlayer/yume_ad_library.swf&v=2.0.5
                &demand_show_replay=false
                &source=http%3A//cdn-www.livestrong.com/videos/take-action/3000-4000/SC58_Healthy_Food_Choices_for_Fish.flv
                &demand_preroll=true
                &demand_page_url=http%3A//www.livestrong.com/video/3855-healthy-food-choices-fish/&height=37&yume_branding_playlist=&demand_autoplay=0
                &demand_postroll_source=http%3A//www.livestrong.com/swf/LS_logo.swf
                &skin=http%3A//cdn-i.dmdentertainment.com/DMVideoPlayer/playerskin.swf
                &demand_postroll=true" />
        </object>
        <br />
        <a href="http://www.livestrong.com/video/3855-healthy-food-choices-fish/" type="video">Healthy Food Choices for Fish</a> 
        -- powered by http://www.livestrong.com
    </div>


    <h3>On Air Interviews</h3>
<div class="clear">
    <h5>The Networking CEO Radio Show</h5>
    <p>
        Patty Farmer, “The Networking CEO™”, is a highly sought after public speaker, radio show host, author, 
        and marketing professional.&nbsp; She interviewed Christine to talk about "Staying Healthy While Conquering 
        the World", a nutritional discussion on how to boost your immune system by making healthy lifestyle choices.
    </p>
    <p>
        You may listen to this on the BlogTalkRadio player or by visiting 
        <a href="http://networkingceo.com/2012/10/april-12th-radio-show-guest/" target="_blank">The NetworkingCEO</a> website.
    </p>
    <img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 
         src="http://c.gigcount.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEzNjczNDIyMjg*MzMmcHQ9MTM2NzM*MjU2MzY1NyZwPTQ1MDk3MiZkPUhvc3RJRCUzYSUyMDExNTI1OCZnPTImbz*y/OTM*MjBjZWJkY2M*NmJmOGI4ZWFmM2EzZjE1ODgzMCZvZj*w.gif" />
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" 
            codebase="http://download.adobe.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" 
            name="btr" width="210" height="105" id="btr">
        <param name="movie" 
               value="http://www.blogtalkradio.com/btrplayer.swf?file=http%3A%2F%2Fwww%2Eblogtalkradio%2Ecom%2Fnetworkingceo%2Fplay%5Flist%2Exml%3Fitemcount%3D1&autostart=false&bufferlength=1&volume=80&borderweight=1&bordercolor=#999999&backgroundcolor=#FFFFFF&dashboardcolor=#0098CB&textcolor=#F0F0F0&detailscolor=#FFFFFF&playlistcolor=#999999&playlisthovercolor=#333333&cornerradius=10&callback=http://www.blogtalkradio.com/FlashPlayerCallback.aspx&C1=7&C2=6042973&C3=31&C4=&C5=&C6=&hostname=NetworkingCEO&hosturl=http://www.blogtalkradio.com/networkingceo" />
        <param name="quality" value="high" />
        <param name="wmode" value="transparent" />
        <param name="menu" value="false" />
        <param name="allowScriptAccess" value="always" />
        <embed src="http://www.blogtalkradio.com/btrplayer.swf?file=http%3A%2F%2Fwww%2Eblogtalkradio%2Ecom%2Fnetworkingceo%2Fplay%5Flist%2Exml%3Fitemcount%3D1&autostart=false&bufferlength=1&volume=80&borderweight=1&bordercolor=#999999&backgroundcolor=#FFFFFF&dashboardcolor=#0098CB&textcolor=#F0F0F0&detailscolor=#FFFFFF&playlistcolor=#999999&playlisthovercolor=#333333&cornerradius=10&callback=http://www.blogtalkradio.com/FlashPlayerCallback.aspx&C1=7&C2=6042973&C3=31&C4=&C5=&C6=&hostname=NetworkingCEO&hosturl=http://www.blogtalkradio.com/networkingceo" 
               width="210" height="105" quality="high" pluginspage="http://www.adobe.com/go/getflashplayer" 
               type="application/x-shockwave-flash" wmode="transparent" menu="false" allowScriptAccess="always" 
               name="btr" FlashVars="gig_lt=1367342228433&gig_pt=1367342563657&gig_g=2">
        </embed>
        <param name="FlashVars" value="gig_lt=1367342228433&gig_pt=1367342563657&gig_g=2" />
    </object>
    <div style="font-size: 10px;text-align: center; width:210px;">Listen to 
        <a href="http://www.blogtalkradio.com/">internet radio</a> with 
        <a href="http://www.blogtalkradio.com/networkingceo">NetworkingCEO</a> on Blog Talk Radio
    </div>
    <h5>Polycycstic Ovarian Synderome (PCOS)</h5>
    <p>
        Christine was interviewed February 2, 2011 on the topic of vegetarian and vegan diets for Polycycstic Ovarian 
        Synderome (PCOS) by Sasha Ottey of the PCOS Challenge on Blog Talk Radio.&nbsp; Click the arrow to play (30 minutes).
    </p>

    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" 
            codebase='http://download.adobe.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0' 
            width='210' height='105' name="35058" id="35058">
        <param name="movie" value="http://www.blogtalkradio.com/btrplayer.swf?file=http://www.blogtalkradio.com%2Fplaylist.aspx%3Fshow_id%3D1512510&autostart=false&bufferlength=5&volume=80&corner=rounded&callback=http://www.blogtalkradio.com/flashplayercallback.aspx" />
        <param name="quality" value="high" /><param name="wmode" value="transparent" />
        <param name="menu" value="false" /><param name="allowScriptAccess" value="always" />
        <embed src="http://www.blogtalkradio.com/btrplayer.swf" 
               flashvars="file=http://www.blogtalkradio.com%2Fplaylist.aspx%3Fshow_id%3D1512510&autostart=false&shuffle=false&callback=http://www.blogtalkradio.com/FlashPlayerCallback.aspx&width=210&height=105&volume=80&corner=rounded" 
               width="210" height="105" type="application/x-shockwave-flash" 
               pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" wmode="transparent" 
               menu="false" name="35058" id="35058" allowScriptAccess="always"></embed>
    </object>
</div>
    <div>
        <h5>Weight Loss</h5>
        <p>
            Christine gave her first international radio interview with host Tim Lundin out of Sweden on nutrition and diet for weight 
            loss.
        </p>
        <p>
            <a href="/Content/Media/Sweden20120925.mp3" type="audio" target="audioplayer">Listen to this 30 minute interview</a> 
            that was conducted on September 25, 2012.
        </p>

        <p>
            Christine spoke in December of 2011 on the "Forward Motion Radio" program with Carrie Barrett and Dr. Laura Whipple on 
            KDPRlive.org.&nbsp; The topic was 'Holiday Weight Gain'.
        </p> 
        <p>
            <a href="/Content/Media/FOMO Radio-11_9- Chris Marquette.mp3" type="audio" target="audioplayer">Listen to an audio recording</a>   
            of this broadcast (1 hour length).
        </p>
    </div>
    <iframe id="audioplayer" name="audioplayer" frameborder="0" >Loading . . . </iframe>
