@{
    ViewBag.Title = "Privacy Policy";
    ViewBag.Description = "";
}

<h1>Privacy Policy</h1>

<div>
    <h3>Our Legal Duty and Commitment to your Privacy</h3>
    <p>
        At Marquette Nutrition and Fitness we are committed to maintaining the privacy of
        your protected health information (“PHI”).&nbsp; We are required by law to maintain
        the privacy of your PHI, provide you with our Notice of Privacy Practices and notice
        of our legal duties regarding your PHI.&nbsp; We are also required to follow the
        practices described in our Notice of Privacy Practices currently in effect.
    </p>
    <p>
        You may find a copy of our 
        <a href="/Content/Documents/Marquette Notice of Privacy Practices.pdf" target="_blank">Notice of 
        Privacy Practices</a> by clicking the link.&nbsp; Please complete the form and return to us at
        your first visit.
    </p>


</div>


