<?xml version="1.0"?>
<connectionStrings>
    <!--CT connection string-->
    <add name="MNFdb"
        connectionString="Data Source=SQLB34.webcontrolcenter.com;Initial Catalog=marquettenutrition;User Id=MNFUser;Password=v@T8!Hu5EXuw;"
        providerName="System.Data.SqlClient" />
</connectionStrings>
