<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" /></configSections>
  <connectionStrings>
    <!--Connection String Updated at Publish-->
    <add name="MNFdb" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;initial catalog=MNFdb;Pooling=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Recaptcha Keys-->
    <add key="ReCaptchaPrivateKey" value="6LcKD8ESAAAAAP9K6yfMR9Q74YW5Sj057ZsB6r3f" />
    <add key="ReCaptchaPublicKey" value="6LcKD8ESAAAAAAsfvXKcL9inYTHsWeMcHsKti07Q" />
    <!--Email Addresses for forms & replies-->
    <add key="ContactFormToAddress" value="mail@marquettenutrition.com" />
    <add key="ContactFormToDisplay" value="Marquette Nutrition &amp; Fitness" />
    <add key="MNFMailAddress" value="mail@marquettenutrition.com" />
    <add key="MNFMailDisplay" value="Marquette Nutrition &amp; Fitness" />
    <add key="MNFMailAddressCC" value="dan@marquettenutrition.com" />
    <add key="MNFMailDisplayCC" value="Dan Marquette" />
    <!--PayPal integration settings-->
    <add key="CurrencyCode" value="USD" />
    <add key="PPSandbox" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <add key="PPProduction" value="https://www.paypal.com/cgi-bin/webscr" />
    <!--sandbox - for #DEBUG mode-->
    <add key="LocalBusinessAccountKey" value="djmarq_1335456857_biz@gmail.com" />
    <add key="LocalReturnURL" value="http://localhost:50244/Payments/RedirectFromPayPal" />
    <add key="LocalCancelURL" value="http://localhost:50244/Payments/CancelFromPayPal" />
    <add key="LocalNotifyURL" value="http://localhost:50244/Payments/NotifyFromPayPal" />
    <!--production - for RELEASE mode-->
    <add key="BusinessAccountKey" value="YDDQMTV8M7RU2" />
    <add key="ReturnURL" value="http://www.marquettenutrition.com/Payments/RedirectFromPayPal" />
    <add key="CancelURL" value="http://www.marquettenutrition.com/Payments/CancelFromPayPal" />
    <add key="NotifyURL" value="http://www.marquettenutrition.com/Payments/NotifyFromPayPal" />
    <!--end PayPal integration settings-->
    <!--External Feeds Consumed by website-->
    <add key="bsFeed" value="http://marquettenutrition.blogspot.com/feeds/posts/default" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="/Account/Login" timeout="2880" />
    </authentication>
    <customErrors mode="On" defaultRedirect="/Errors/General" redirectMode="ResponseRewrite">
      <!--<error statusCode="400" redirect="/Errors/BadRequest" />
      <error statusCode="403" redirect="/Errors/Forbidden" />
      <error statusCode="404" redirect="/Errors/NotFound" />
      <error statusCode="500" redirect="/Errors/InternalServerError" />-->
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="Recaptcha" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="MNFdb" applicationName="/" />
      </providers>
    </profile>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MNFdb" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="MNFdb" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers></system.web>
  <system.net>
    <mailSettings>
      <smtp from="contact@marquettenutrition.com">
        <network host="MailA20.webcontrolcenter.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Detailed" defaultResponseMode="Redirect">
      <clear />
      <error statusCode="404" path="/Errors/Http404" />
    </httpErrors>
  <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.30619.9119" newVersion="2.0.30619.9119" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <dotless minifyCss="false" cache="true" web="false" />
</configuration>