@{
    ViewBag.Title = "Strategy Session";
    ViewBag.Description = @"This questionnaire will help us to determine whether we will be able to provide 
you with the kind of services you need.";
}


<h1>Strategy Session Application</h1>

<iframe id="StrategySessionApp" 
        src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHBWLUxkdlB6SWpkMXByTE9GbUtTOGc6MQ">
    Loading...
</iframe>



