@{
    ViewBag.Title = "LEAP Programs";
    ViewBag.Description = @"If you are ready to uncover what has been making you sick, then our Lifestyle, Eating and 
Performance (LEAP) Programs are just what you need.";
}

<h1>Lifestyle, Eating, and Performance (LEAP) Programs</h1>

<div data-role="content">
    <p>
        Is your quality of life going down the drain?&nbsp; Is your life constantly being interrupted by digestive problems, migraines, or eczema?&nbsp; 
        Have all your medical tests been unable to resolve your problems so far?
    </p>

    <h3>LEAP Case Studies</h3>
    <div>(Click for more details)</div>
    <div data-role="collapsible">
        <h3 class="CaseHeading">Case Study - D.M.: 33 year old male, diagnosed with Irritable Bowel Syndrome (IBS)</h3>
        <div>
            <p class="CaseDetails">
                As an engineer, he frequently traveled overseas.&nbsp; His constant digestive upset and frequent trips to the bathroom were really beginning to 
                interfere with his ability to do his job.&nbsp; Nothing he had tried seemed to work.&nbsp; He came to see Christine for the first time on October 
                13, 2011.&nbsp; That day he picked up a mediator release test kit and immediately got tested for food sensitivities.&nbsp; Nine days later, he started 
                his LEAP Program.&nbsp; After just one week, his symptoms improved by 55%, as shown by his symptom survey.&nbsp; This patient was very excited and 
                happy and stated that for the first time he had hope that his condition would continue to improve.&nbsp; One month later, his symptoms continued to 
                improve significantly (down another 44%), but had not yet gone into complete remission.&nbsp; After carefully reviewing his symptoms and food logs, 
                Christine determined that he also had a histamine intolerance.&nbsp; By limiting his portions of high histamine foods in addition to continuing the 
                LEAP Program, after 5 more weeks all of his symptoms were virtually gone!
            </p>
        </div>
    </div>
    <div data-role="collapsible">
        <h3 class="CaseHeading">Case Study - Esther G.:  46 year old female, suffering from fibromyalgia.</h3>
        <div>
            <p class="CaseDetails">
                She presented with shoulder and back pain, insomnia, severe headaches, and mild depression.&nbsp; After consulting with Christine, she opted to implement 
                the LEAP Program.  She picked up her MRT kit and was tested on February 9, 2009.&nbsp;  At the start of her program, her symptom survey (used to chart 
                progress regarding various symptoms) totaled 109.&nbsp; After one week on the program, her symptoms had decreased to 35!&nbsp; That is a 68% reduction in 
                symptoms.&nbsp; At the completion of her program, she was able to eliminate her back pain, gained energy, and lost 10 pounds.&nbsp; Her headaches diminished 
                significantly from frequent and severe to occasional and mild.&nbsp; Her sleep also improved, as well as many other symptoms related to fibromyalgia.&nbsp; She 
                has found that as long as she avoids her reactive foods, she can avoid the problems she presented with, however, if she does eat any of her reactive foods, 
                her symptoms such as migraines and shoulder pain return.
            </p>
        </div>
    </div>

    <div>
        <p>
            If, like D.M. and Esther, you are suffering from health problems that do not seem to have a solution, your food could be the cause!&nbsp;  
            Find out by taking the Mediator Release Test (MRT) and banish those problems for good.
        </p>

        <p>
            If you are ready to uncover what has been making you sick, then the Lifestyle, Eating and Performance (LEAP) Program is just what you need.&nbsp; 
            To find out if you are a good candidate for this program, @Html.ActionLink("fill out our prescreening form", "LeapPrescreen", "Survey").
        </p>

        <p>By the end of this 90 day program, you will:</p>
        <ul>
            <li>Feel good again!</li>
            <li>Reduce symptoms of:
            <ul>
                <li>fatigue</li>
                <li>insomnia</li>
                <li>anxiety</li>
                <li>forgetfulness</li>
                <li>headaches</li>
                <li>eczema</li>
                <li>joint & muscle pain</li>
                <li>bloating, stomach pain/cramps</li>
                <li>diarrhea, and more!</li>
            </ul></li>
            <li>Have confidence in your food choices</li>
            <li>Know what to do to prevent future reactions</li>
        </ul>
    </div>

    <div>Here is what you can expect to receive in your individualized LEAP program:</div>
    <ul>
        <li>Mediator Release Kit for food sensitivity analysis</li>
        <li>4 visits
        <ul>
            <li>Initial explanation of MRT results and personalized 6 phased dietary management program (60 to 90 minutes) </li>
            <li>Three 30- to 45-minute follow up visits.&nbsp; In each visit we continue to adjust your plan as needed to achieve your goals.</li>
            <li>Email support in between each visit</li>
            <li>Review of weekly food log to make certain desired results are achieved</li>
            <li>One week personalized menu or eating guide for 3 different phases of the program (total of 3 weeks of menus or guides)</li>
            <li>Personalized goal sheet with a continuing action plan giving you tips for continuing your program</li>
        </ul></li>
    </ul>

    @Html.ActionLink("Fill out our presecreening form", "LeapPrescreen", "Survey") to get started!

    <h3>Advanced LEAP Program</h3>

    <div>
        <p>
            Do you feel like you need more support?&nbsp; Are you ready to incorporate a fitness component?&nbsp; Do you want to really optimize your health?&nbsp; 
            Then our Advanced LEAP program is for you!
        </p>
    </div>

    <div>(Click for more details)</div>
    <div data-role="collapsible">
        <h3 class="CaseHeading">Case Study - Shayla N:  37 year old female, diagnosed with Irritable Bowel Syndrome (IBS).</h3>
        <div>
            <p class="CaseDetails">
                Shayla had been battling the following symptoms for many years: bloating, digestive upset, gas, and weight gain (among others).&nbsp; Shayla is also an athlete, so these digestive 
                problems were significantly interfering with her performance in races.&nbsp; Shayla came to see Christine June 9, 2011 and immediately got tested 
                for food sensitivities using MRT.&nbsp; She started her Advanced LEAP Program shortly after receiving her results.&nbsp; Within one week, her 
                symptoms started improving and she had lost 4 pounds.&nbsp; In addition to improving her symptoms of IBS and losing weight, Christine worked on 
                specific weight loss strategies, sports nutrition plans, and training strategies to help Shayla achieve her performance goals in the sports of 
                triathlon and distance running.
            </p>
        </div>
    </div>

    <div>
        <p>
            If, like Shayla, you not only want to rid yourself of symptoms related to food sensitivities, but also want to improve your fitness, lose 
            weight, and optimize your health, then you will want to sign up for our Advanced LEAP Program.&nbsp; To find out if you are a good candidate 
            for this program, fill out our prescreening form.
        </p>

        <p>By the end of this 6 month program, you will receive all the benefits of the standard LEAP Program as well as:</p>
        <ul>
            <li>Bring to light possible deficiencies</li>
            <li>Master your fitness plan</li>
            <li>Make certain you are eating right for your body type</li>
            <li>Have the energy to get it all done</li>
            <li>Transform your life!</li>
        </ul>

        <p>Here is what you can expect to receive in your customized Advanced LEAP program:</p>
        <ul>
            <li>Everything in the standard LEAP Program, plus</li>
            <li>Complete nutritional analysis of a one week food log prior to starting your program, which will include
            <ul>
                <li>Calorie intake</li>
                <li>Percentages of carbohydrates, proteins, fats</li>
                <li>Vitamin and mineral intake</li>
            </ul></li>
            <li>Evaluation of lab work brought in by you (e.g. complete metabolic panel, lipid panel, etc.)</li>
            <li>Evaluation of current fitness level and development of an initial fitness plan OR strategies to improve current fitness plan</li>
            <li>In office demonstration of exercises</li>
            <li>Photos/PDFs of exercises if needed</li>
            <li>2 Additional 30- to 45-minute follow up visits</li>
            <li>Recommendations for supplements, if needed</li>
            <li>List of resources for special needs (recommended specialty food brands, stores, etc.)</li>
            <li>Personalized menu template or guide to help you design your own menus</li>
        </ul>

        <p>Not sure if the Advanced LEAP Program is right for you?&nbsp; @Html.ActionLink("Fill out our prescreening form", "LeapPrescreen", "Survey") to find out!</p>
    </div>

    <h3>VIP LEAP Program</h3>

    <div>
        <p>
            Do you feel like you have so many things going on it would take a miracle to improve your health and fitness?&nbsp; Perhaps you need our most intensive program.
        </p>
    </div>

    <div>(Click for more details)</div>
    <div data-role="collapsible">
        <h3 class="CaseHeading">Case Study - Nena G.: 41 year old female with a childhood history of nervous stomach, leg aches, and over-active bladder. </h3>
        <div>
            <p class="CaseDetails">
                As an adult, Nena suffered from numerous health issues, most of which developed during her first pregnancy in 1996.&nbsp; She had all 
                types of digestive problems (stomach pains/cramps, intestinal pains/cramps, constipation, diarrhea, bloating, gas, nausea, vomiting, 
                heartburn/reflux) as well as over-active bladder, fatigue, anxiety, joint pain, extreme motion sickness, and more. Because she was under 
                such duress and lived out of town (about a two hour drive from Austin), most of Nena's appointments were conducted via telephone.&nbsp; Her 
                initial symptom survey totaled 102 when she began her VIP LEAP program on July 6, 2012. After one week, her symptoms had decreased by 41% 
                (down to 60).&nbsp; By July 21, her symptoms had continued to improve and were down to 49, and by October 15th, 2012 they were down to 36.&nbsp; 
                She experienced a drastic improvement in most of her symptoms and complete remission of several. For example, prior to starting LEAP she suffered 
                from extreme fatigue almost daily, now it happens only occasionally and is not severe. Her heartburn and reflux completely went away.&nbsp; Her motion 
                sickness is gone.&nbsp; Nena now has the energy to enjoy being active with her children for the first time in their lives.&nbsp; She feels happy, 
                relaxed and outgoing for the first time in more than 15 years. 
            </p>
        </div>
    </div>

    <div>
        <p>
            If nothing you have tried has worked in the past, and like Nena, you need intense support, then our VIP program is for you.
        </p>
        <p>
            @Html.ActionLink("Contact us ", "Create", "Contact") for more details!
        </p>
    </div>
</div>