    <p data-role="content">
        <span style="font-weight: bold">NOTE: </span>We are no longer accepting NEW clients. &nbsp;If you have
        a question you would like to ask, please continue to use our @Html.ActionLink("Contact Form", "Index", "Contact") to 
        ask a question of our dietitian.
    </p>
