<form method=post 
        action="https://app.icontact.com/icp/signup.php" 
        name="icpsignup" 
        id="icpsignup4961" accept-charset="UTF-8" 
        onsubmit="return verifyRequired4961();" >
@*<input type=hidden name=redirect value="http://www.icontact.com/www/signup/thanks.html" />*@
@*<input type=hidden name=errorredirect value="http://www.icontact.com/www/signup/error.html" />*@

<div id="SignUp">
<table width="260" class="signupframe" border="0" cellspacing="0" cellpadding="5">
	<tr>
      <td valign=top align=right>
        <span class="required">*</span> First Name
      </td>
      <td align=left>
        <input type=text name="fields_fname">
      </td>
    </tr>
	<tr>
      <td valign=top align=right>
        <span class="required">*</span> Last Name
      </td>
      <td align=left>
        <input type=text name="fields_lname">
      </td>
    </tr>
	<tr>
      <td valign=top align=right>
        <span class="required">*</span> Email
      </td>
      <td align=left>
        <input type=text name="fields_email">
      </td>
    </tr>

    <input type=hidden name="listid" value="27516">
    <input type=hidden name="specialid:27516" value="6AJX">

    <input type=hidden name=clientid value="749644">
    <input type=hidden name=formid value="4961">
    <input type=hidden name=reallistid value="1">
    <input type=hidden name=doubleopt value="1">

    <tr>
      <td> </td>
      <td><span class="required">*</span> = Required Field</td>
    </tr>
    <tr>
      <td> </td>
      <td><input type="submit" name="Submit" value="Submit"></td>
    </tr>
    </table>
</div>

</form>