@{
    ViewBag.Title = "ebooks";
    ViewBag.Description = @"Christine has written a series of ebooks covering topics that she has studied and considers her 
specialties. Current ebooks cover Celiac and PCOS.";
}

<div data-role="content" data-theme="f">

    <h1>Ebooks</h1>

    <div>
        <p>
            Christine has written a series of ebooks covering topics that she has studied and considers her 
            specialties.&nbsp; Ebooks currently available for purchase cover Celiac Disease and Polycystic Ovarian 
            Syndrome (PCOS).&nbsp; Check back here for future releases on additional topics as they become available.
        </p>
    </div>


    <div data-role="collapsible">
    <h3>Celiac Disease</h3>
        <div>
            <a href="~/ebooks/Celiac">
                <img id="CeliacBootcampPic" class="ebookPic"  alt="Celiac Boot Camp" 
                       title="ebooks on Celiac Disease" src="/Content/Images/CeliacBootCamp.jpg" />
            </a>
        </div>

        <div class="ebookDescription">
            <p>
                The “Celiac BootCamp” consists of a manual and 1 hour audio that detail how to implement a gluten free lifestyle.
            </p>
            <p>
                Click the book cover for more information, and to visit the Celiac ebooks page.
            </p>
        </div>
    </div>
    <div class="clear"></div>

    <div data-role="collapsible">
        <h3>Polycystic Ovarian Syndrome - PCOS</h3>
        <div>
            <a href="~/ebooks/PCOS">
                <img id="PCOSebooks" alt="PCOS ebooks" 
                        title="PCOS ebooks" src="/Content/Images/pcosQScover.jpg" />
            </a>
        </div>

        <div class="ebookDescription">
            <p>
                Polycystic Ovarian Syndrome (PCOS) is a hormonal imbalance that affects 6 – 10% of all women.&nbsp; Christine 
                specializes in the nutritional treatment of PCOS, and has also created a series of ebooks and audio 
                books on understanding and managing PCOS.
            </p>
            <p>
                Click the book cover for more information, and to visit the PCOS ebooks page.
            </p>
        </div>
    </div>
    <div class="clear"></div>
</div>