<div itemscope itemtype="http://schema.org/Event">
    <h2 class="center" itemprop="name">Marquette Nutrition & Fitness Open House</h2>

    <h3 class="center" itemprop="startDate" datetime="2013-03-02T13:30" duration="P2H30M">
        Saturday, March 2nd from 1:30 PM - 4:00 PM
    </h3>
    <h3 class="center" itemtype="http://schema.org/Place" itemprop="address">
        3421 W William Cannon Drive, Suite 145, Austin, TX 78745
    </h3>

    <ul>
        <li>Have questions about whether you could benefit from a nutrition consultation?</li>
        <li>Are you unsure exactly what a dietitian does?</li>
        <li>Are you suffering from digestive issues and are not sure where to start?</li>
        <li>Wondering about supplements?</li>
        <li>Need help recovering from a recent marathon or other event?</li>
        <li>Do you have any other questions?</li>
    </ul>

    <p>Stop by our open house to get answers to these questions and more!</p>

    <p>
        Visit our product sample table to try top of the line multivitamins, digestive enzymes, antioxidants, and other 
        supplements.&nbsp; We will also have low glycemic index shakes and bars available for you to try. 
    </p>

    <h4 class="center">PLUS, enter to win one of 3 prizes:</h4>
    <ul>
        <li>
            Grand Prize:  90 Day Supply of Digestive enzymes, 30 Day Supply of isotonic multivitamins without iron and a 
            FREE 45 minute prescreening consultation
        </li>
        <li>1st Prize:  30 Day Supply of OPC 3</li>
        <li>2nd Prize:  30 Day Supply of isotonic multivitamins with iron</li>
    </ul>

    <h4 class="center"><em>BONUS:&nbsp; Everyone who signs up today gets 10% OFF all of our service packages!</em></h4>

    <p>Schedule of 5 minute information sessions:</p>
    <ul itemprop="subEvent">
        <li>1:45 p.m.&nbsp; Nutrition & Fitness Consultations:  What can I expect?</li>
        <li>2:00 p.m.&nbsp; Digestive Enzymes:  Who Needs Them?</li>
        <li>2:30 p.m.&nbsp; OPC 3:  A Powerful Antioxidant Blend</li>
        <li>3:00 p.m.&nbsp; Customized Nutrition Using Gene SNP:  Is it right for me?</li>
        <li>3:30 p.m.&nbsp; Transitions Weight Management Program</li>
        <li>3:45 p.m.&nbsp; Nutrition & Fitness Consultations:  What can I expect?</li>
    </ul>

</div>
    

