@{
    ViewBag.Title = "Holiday Challenge";
    ViewBag.Description = @"Holiday Challenge: Take Charge of Your Health How to Avoid Holiday Weight Gain.  This is a free 
    class taught by Christine Marquette, RD, LD.  Christine is a registered dietitian working in south Austin, TX.";
}

<a id="RSVP"></a>
<h1 id="holidayChallenge">Holiday Challenge:  Take Charge of Your Health</h1>

<h1 class="center">
    How to Avoid Holiday Weight Gain
</h1>
<h3 class="center">
    Presented by Christine Marquette<br/>
    Wednesday, December 7th at 6:30 p.m. Central<br/>
    Hosted by The Brinkley Center<br/>
    5766 Balcones Drive, #103<br/>
    Austin, TX  78731<br/>
</h3>

<div id="event">
    <p>
        This is a <em>FREE</em> class!  To participate, enter your name and email address below to register.  
    </p>
    @Html.Partial("_OptInPartial")
     
     <p>The holiday season can be one of the most stressful times of the year.</p>
      
    <h3>WHY?</h3>
    <b>Financial Stressors</b>
    <ul>
        <li>Parties</li>
        <li>Gift Giving</li>
        <li>Traveling</li>
    </ul>

    <b>Time Stressors</b>
    <ul>
        <li>Decorating</li>
        <li>Shopping</li>
        <li>Traveling</li>
    </ul>

    <p>
        For others who are struggling with health and/or weight problems, perhaps the biggest source of stress is the potential 
        for weight gain.  
    </p>
    <p>
        As you may already know, people who are already overweight or obese gain an average of 5 pounds between Thanksgiving 
        and New Year’s Day.<sup><a href="#footnote">1</a></sup>
    </p>
    <p>
        Even those who are not overweight or obese gain an average of 1 pound over this time period.&nbsp; That may not sound like 
        a lot, but research shows that most people do not lose this weight.&nbsp; That means most people gain at least 1 pound 
        every year.<sup><a href="#footnote">1</a></sup>&nbsp; Over time, that can really add up!  
    </p>

    <p><b>Stress and Weight Gain can cause:</b></p>
    <ul>
        <li><b>Abnormal carbohydrate metabolism</b>, which includes:
            <ul>
                <li>insulin resistance</li>
                <li>impaired fasting glucose</li>
                <li>type 2 diabetes</li>
            </ul>
        </li>
        <li><b>Depression</b></li><br/>
        <li><b>Development of cardiovascular disease, including:</b>
            <ul>
                <li>Hypertension</li>
                <li>Hyperlipidemia</li>
                <li>Hpertriglyceridemia</li>
                <li>Low HDL (which is an abbreviation for High Density Lipoprotein, which is known as the good cholesterol)</li>
                <li>Coagulapathy</li>
            </ul>
        </li>
    </ul>

    <p>
        Sounds scary!&nbsp; But, the holidays do not have to be a source of stress and weight gain!&nbsp; In this class, you will learn 
        tips for how to overcome these holiday challenges.      
    </p>

    <ul>
        <li>Are you unsure how to include your favorite holiday treats without gaining weight? </li>
        <li>Worried about how to eat healthy while traveling?</li>
        <li>Wondering how to manage your time?</li>
        <li>Do you already battle some of the problems listed above, and worry how to handle the effects of the holidays on your health?</li>
    </ul>

    <p>Join this informative 1-hour class to get answers to these questions and more! </p>
    <p><a href="#RSVP">Scroll to the top of this page</a> to <em>register for this free class</em>!</p>

    <p>ABOUT THE PRESENTER:</p>
    <i>
        Christine Marquette is a registered and licensed dietitian (RD, LD) and certified Health Fitness Specialist through 
        the American College of Sports Medicine working in private practice at Marquette Nutrition & Fitness, LLC.&nbsp; She 
        specializes in celiac, food allergies/sensitivities, polycystic ovarian syndrome (PCOS), vegetarian and sports nutrition. 
       &nbsp; With over 40 hours of continuing education specifically related to the management of Polycystic Ovarian Syndrome (PCOS), 
        she has been focusing on teaching women with PCOS how to overcome this condition through the use of individualized 
        nutrition and fitness programs.&nbsp; What sets Christine apart from other dietitians/nutritionists and fitness professionals 
        is her personal connection to PCOS, her listening skills, and her ability to translate research into do-able action 
        steps that her clients can start on immediately.
    </i>

    <ul id="specifics">
        <li>Date:&nbsp; Wednesday, December 7th, 2011</li>
        <li>Time:&nbsp; 6:30 p.m. Central</li>
        <li>Place:&nbsp; The Brinkley Center; 5766 Balcones Dr., #103; Austin, TX  78731</li>
        <li>Cost:&nbsp; Complimentary!</li>
    </ul>  
    <p>
        Can’t attend this date and time but still interested? &nbsp; 
        <a href="#RSVP">Enter your name and email above</a> to be notified of future classes or events.
    </p>

</div>

<p>
    <sup>1</sup><a id="footnote" href="http://www.nichd.nih.gov/news/releases/holidayweightgain.cfm" target="_blank">http://www.nichd.nih.gov/news/releases/holidayweightgain.cfm</a> 
</p>